@import url("https://fonts.googleapis.com/css2?family=Climate+Crisis:YEAR@1998&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Teko:wght@600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  background-color: #fafafa;
}
.font-climatecrisis-regular {
  font-family: "Climate Crisis", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "YEAR" 1998;
  color: #222222;
}
.font-teko-semibold {
  font-family: "Teko", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  color: #222222;
}
.border-jokedle {
  border-color: #222;
}
button {
  background-color: #4ac4da;
  color: #222;
}
@media (prefers-color-scheme: dark) {
  :root {
    background-color: #222222;
  }
  .font-climatecrisis-regular {
    font-family: "Climate Crisis", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "YEAR" 1998;
    color: #ffffff;
  }
  .font-teko-semibold {
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: #fafafa;
  }
  .border-jokedle {
    border-color: #fafafa;
  }
  input {
    background-color: #272727;
    color: #fafafa;
  }
  textarea {
    background-color: #222222;
    color: #fafafa;
  }
}


